<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="update-user-container">
        
    
    <form action="/update-user" method="post">
        <div>
            <label for="">First Name: </label>
            <input name="firstName" value="<%= dataUser.firstName%>" type="text">
        </div>
        <div>
            <label for="">Last Name: </label>
            <input name="lastName" value="<%= dataUser.lastName%>" type="text">
        </div>
        <div>
            <label for="">Email: </label>
            <input name="email" value="<%= dataUser.email%>" type="text">
        </div>
        <div>
            <label for="">Address: </label>
            <input name="address" value="<%= dataUser.address%>" type="text">
        </div>
        <input type="text" name="id" value="<%= dataUser.id%>" hidden>
        <div>
            <button class="btn-save" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>